{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Call Voting</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static "img/favicon.ico" %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
    <link href="{% static "tempusdominus/css/tempusdominus-bootstrap-4.min.css" %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/lightpick/css/lightpick.css">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="{% static 'img/10337609.png' %}" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">{{ request.user.username }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <form action="{% url 'users:logout' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Log Out</button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total calls for Today:</p>
                                    <h6 class="mb-0">{{ calls_count }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->
            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <form method="GET" id="form1">
                                <div class="calender_container">
                                    <input type="text" id="start-date" name="start_date" value="{{ start_date | default:now_date }}"/>
                                    <input type="text" id="end-date" name="end_date" value="{{ end_date | default:now_date }} "/>
                                    <br><br>
                                    <input class="form-control bg-dark border-0" type="text" name="called_number" placeholder="Enter the number" value="{{ called_number|default:'' }}">
                                    <br>
                                    <button type="submit" class="btn btn-primary ms-2">Show</button>
                                </div>
                            </form>
                            <br>
                            {% if start_date and end_date and called_number %}
                                <h6 class="mb-0 result_show"> {{ count_by_date }}</h6>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calls on the specific number</h6>
                            </div>
                            <div class="d-flex mb-2">
                                <form method="GET" id="form2">
                                    <div class="d-flex mb-2">
                                        <input class="form-control bg-dark border-0" type="text" name="only_called_number" placeholder="Enter the number" value="{{ only_called_number|default:'' }}">
                                        <br><br>
                                        <button type="submit" class="btn btn-primary ms-2">Show</button>
                                    </div>
                                </form>

                            </div>
                           {% if only_called_number %}
                                <h6 class="mb-0 result_show"> {{ called_number_count }}</h6>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div style="margin-top: 70px;">
            {% if error_message %}
                <p class="text-danger" style=" display: flex; justify-content: center; align-items: center; margin-left: -1670px;">{{ error_message }}</p>
            {% endif %}
            <a href="{% url 'calls:home' %}" style=" display: flex; justify-content: center; align-items: center; margin-left: -1670px; margin-top: 10px;">Refresh</a>

        </div>

    </div>




            <!-- Widgets End -->

    <!-- JavaScript Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightpick/lightpick.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static "lib/chart/chart.min.js" %}"></script>
    <script src="{% static "lib/easing/easing.min.js" %}"></script>
    <script src="{% static "lib/waypoints/waypoints.min.js" %}"></script>
    <script src="{% static "lib/owlcarousel/owl.carousel.min.js" %}"></script>
    <script src="{% static "lib/tempusdominus/js/moment.min.js" %}"></script>
    <script src="{% static "lib/tempusdominus/js/moment-timezone.min.js" %}"></script>
    <script src="{% static "lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js" %}"></script>

    <!-- Template Javascript -->
    <script src="{% static "js/main.js" %}"></script>
    <script>
        var picker = new Lightpick({
            field: document.getElementById('start-date'),
            secondField: document.getElementById('end-date'),
            singleDate: false,
            format: 'YYYY-MM-DD',
            onSelect: function(start, end){
                console.log(start.format('Do MMMM YYYY') + ' to ' + (end ? end.format('Do MMMM YYYY') : '...'));
            }
        });

    </script>
</body>

</html>